* {
    margin: 0;
    box-sizing: border-box;
}
p {
    line-height: 1.6;
}
a {
    text-decoration: none;
    color: #9e905a;
}
html,
body {
    width: 100%;
    height: 100%;
}
body {
    color: #eee;
    background-color: #141414;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 32px;
    --from: #191a14;
    --to: #090908;
    --radius: 2000px;
    background-image: radial-gradient(
        circle at 50% 100px,
        var(--from) 0%,
        var(--to) var(--radius)
    );
}
main {
    width: 95%;
    max-width: 450px;
    padding: 32px;
    border-radius: 8px;
    background-color: #181914;
}
.profile-pic {
    border-radius: 50%;
    overflow: hidden;
    width: 250px;
    height: 250px;
    background-color: #474642;
    margin: -125px auto 32px auto;
    pointer-events: none;
}
.profile-pic img {
    width: 100%;
    height: 100%;
}
